<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo_del_proyecto %>
    <%= form.text_field :title, id: :project_title %>
  </div>

  <div class="field">
    <%= form.label :descripción_del_proyecto %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :ubicación %>
    <%= form.text_field :location, id: :project_location %>
  </div>

  <div class="field">
    <%= form.label :fecha_del_proyecto %>
    <%= form.date_select :project_date, id: :project_project_date %>
  </div>

  <div class="field">
    <%= form.label :fecha_limite_de_inscripción %>
    <%= form.date_select :deadline, id: :project_deadline %>
  </div>

  <div class="form-group">
      <strong>Añade el logo de tu organización:</strong>
      <%= form.label :imagen %>
      <%= f.file_field :image, id: :project_image%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
