<p id="notice"><%= notice %></p>

<h1 class="display-4 text-center">Proyectos de voluntariado</h1>

<div class="card">
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.location %></td>
        <td><%= project.project_date %></td>
        <td><%= project.deadline %></td>
        <td><%= project.image %></td>
        <% if organization_signed_in? %>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
</div>
<br>

<% if organization_signed_in? %>
  <%= link_to 'Nuevo proyecto', new_project_path %>
<% else %>
  <%= link_to 'Inicia sesión para crear un nuevo proyecto', new_organization_session_path %>
<% end %>
