<p id="notice"><%= notice %></p>

<h1 class="display-4 text-center">Proyectos de voluntariado</h1>
<hr><br>

<div class="row align-items-center">
  <div class="card-deck">
    <% @projects.each do |project| %>
          <div class="card" style="18-rem">
            <%= link_to project do %>
                <%= image_tag project.image.url, alt: "imagen del proyecto", class: "card-img-top" if project.image.url %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to project.title, project %></h5>
              <p class="card-text"><%= project.short_entry %><%= link_to "leer más", project if project.description.length>120 %></p>
              <p class="card-text"><small><%= link_to project.organization.name, perfil_organizacion_path(id: project.organization.id) %></small></p>
              <p class="card-text text-muted"><%= fa_icon "map-marker" %> <%= project.location %></p>
              <p class="card-text text-muted"><small>Fecha del proyecto: <%= project.project_date %></small></p>
            </div>
          </div>
    <% end %>
  </div>
</div>

<br>

<div class="col-xs-12">
  <div class="text-center">
    <%= paginate @projects %></p>
  </div>
</div>

<% if organization_signed_in? %>
  <%= link_to 'Nuevo proyecto', new_project_path %>
<% else %>
  <%= link_to 'Inicia sesión para crear un nuevo proyecto', new_project_path %>
<% end %>
<br><br>
