<p id="notice"><%= notice %></p>

<h1 class="display-4 text-center">Proyectos de voluntariado</h1>
<hr><br>

<div class="row align-items-center">
  <div class="card-deck">
    <% @projects.each do |project| %>
          <div class="card" style="18-rem">
            <img class="card-img-top" <%= image_tag project.image.url, alt: "imagen del proyecto" if project.image.url %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to project.title, project %></h5>
              <p class="card-text"><%= project.short_entry %><%= link_to "leer más", project if project.description.length>120 %></p>
              <p class="card-text"><small><%= link_to project.organization.name, perfil_organizacion_path(id: project.organization.id) %></small></p>
              <p class="card-text"><small class="text-muted"><%= project.location %></small></p>
              <p class="card-text"><small class="text-muted">Fecha del proyecto: <%= project.project_date %></small></p>
            </div>
          </div>
    <% end %>
  </div>
</div>

<br>

<% if organization_signed_in? %>
  <%= link_to 'Nuevo proyecto', new_project_path %>
<% else %>
  <%= link_to 'Inicia sesión para crear un nuevo proyecto', new_project_path %>
<% end %>
<br><br>
