<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Project date:</strong>
  <%= @project.project_date %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<% if organization_signed_in? %>
          
          <td><%= link_to 'Edit', edit_project_path(@project) %></td>
          <td><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>|
<%= link_to 'Back', projects_path %>
