<p id="notice"><%= notice %></p>

<% if organization_signed_in? && current_organization == @project.organization %>
    <%= render 'tabs', active: 2 %>
    <br>
    <br>    
        <div class="card-deck">
            <div class="card">
                <% @project.requests.each do |request| %>                  
                    <div class="card-body">
                        <h5 class="card-title"><%= request.name %></h5>
                        <p class="card-text"><%= request.phone %> || <%= request.email %></p>
                        <p class="card-text">Lugar de residencia: <%= request.location %></p>
                        <p class="card-text">Edad: <%= request.age %> años</p>
                        <p class="card-text">Motivo del interés por el proyecto: "<%= request.reason %>"</p>
                    </div>                   
                <% end %>
            </div>
        </div>   
<% else %>
    <p>No tienes permiso para ver las solicitudes a proyectos de otras organizaciones</p>
<% end %>