<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-5">
    <%= image_tag @project.image.url, alt: "Imagen del proyecto" if @project.image.url %>
    </div>

    <div class="col-md-5 align-self-center">
        <h3 class="text-left"><%= @project.title %></h3>
        <hr>
        <%= @project.description %>      
    </div>
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="col-md-10">
      <p class="lead">
        <strong>Lugar: </strong><%= @project.location %>
      </p>
    </div>

    <div class="col-md-10">
      <p class="lead">
        <strong>Perfil que buscamos para este proyecto: </strong><%= @project.profile %>
      </p>
    </div>

    <div class="col-md-10">
      <p class="lead">
        <strong>Dedicación que se necesita para este proyecto: </strong><%= @project.dedication %>
      </p>
    </div>

    <div class="col-md-10">
      <p class="lead">
        <strong>Fecha del proyecto: </strong><%= @project.project_date %>
      </p>
    </div>

    <div class="col-md-10">
      <p class="lead">
        <strong>Fecha límite para unirse al proyecto: </strong><%= @project.deadline %>
      </p>
    </div>

    <div class="col-md-10">
      <p class="lead">
        <strong>Número de plazas: </strong><%= @project.places_number %>
      </p>
    </div>

    <div class="col-md-10">
      <p class="lead">
        <strong>Número de solicitudes enviadas a este proyecto: </strong><%= @project.requests.count %>
      </p>
    </div>
</div>


<% if organization_signed_in? %>
  <td><%= link_to 'Edit', edit_project_path(@project) %></td>
  <td><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<%= link_to 'Back', projects_path %>
<br>
<hr>
<br>
<h4>¿Quieres participar en este proyecto?</h4>
<br>
<%= form_tag request_save_path do %>
  <%= text_field_tag :name, nil, placeholder: "Tu nombre" %><br />
  <%= number_field_tag :age, nil, placeholder: "Tu edad" %><br />
  <%= text_field_tag :location, nil, placeholder: "Tu lugar de residencia" %><br />
  <%= text_field_tag :email, nil, placeholder: "Tu correo" %><br />
  <%= text_field_tag :phone, nil, placeholder: "Tu teléfono" %><br />
  <%= text_area_tag :reason, nil, placeholder: "¿Por qué estás interesado en unirte a este proyecto?" %><br />
  <%= hidden_field_tag :project_id, @project.id %><br />
  <%= submit_tag "Enviar solicitud" %>
<% end %>
<br><br><br>
