<!DOCTYPE html>
<html>
  <head>
    <title>ThreeDegreesProyect</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #c0e0f7;">
        <a class="navbar-brand" href="http://localhost:3000">3 Degrees</a>

          <div class="nav navbar-nav pull-xs-right">
            <% if organization_signed_in? %>
                <form class="form-inline">
                  <%= link_to "Edit profile", edit_organization_registration_path, class: "btn btn-outlineprimary" %> 
                  <%= link_to "Sign out", destroy_organization_session_path, method: :delete, class: "btn btn-outline-danger" %>
                </form>
              <% else %>
                <form class="form-inline">
                  <%= link_to "Acceder", new_organization_session_path, class: "btn btn-outline-primary" %> 
                  <%= link_to "Registrarse", new_organization_registration_path, class: "btn btn-outline-secondary" %>
                </form>
              <% end %>
          </div>   
    </nav>


    <div class="container justify-content-center">
    <%= yield %>
    </div>
  </body>
</html>
