<!DOCTYPE html>
<html>
  <head>
    <title>ThreeDegreesProyect</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="float-right">   <!-- Para que el botón se coloque a la derecha -->
            <% if organization_signed_in? %>
              
              <%= link_to "Edit profile", edit_organization_registration_path, class: "btn btn-primary" %> 
              <%= link_to "Sign out", destroy_organization_session_path, method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%= link_to "Acceder", new_organization_session_path, class: "btn btn-primary" %>
              <%= link_to "Registrarse", new_organization_registration_path, class: "btn btn-secondary" %>
            <% end %>
        </div>
	    </nav>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
